body {
    background: #222222;
}

main{
    padding: 0 100px;
}

.logo_header{
    margin: 2em 2em;
}

.logo{
    width: 20%;
}

#contenedor_principal{
    width: 50%;
    height: 250px;
    margin:  80px auto;
    background-color: white;
    border-radius: 25px;
    position: absolute;
}

#contenedor_mensaje{
    width: 80%;
    margin: 10% auto;
    position: relative;
}

.mensaje{
    background-color: white;
    border-radius: 25px;
    width: 100%;
    display: block;
    position: relative;
    padding: 8px 15px;
    border: orange 1px solid;
}

.texto_naranja{
    font-family: 'Source Code Pro', monospace;
    color: orange;
}

#input_mensaje{
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}