body {
    background: #222222;
}

header{
    background-color: #333333;
    position: absolute;
    top: 0;
    width: 100%;
    height: 160px;
}

main{
    position: relative;
    margin-top: 220px;
}

.logo_header{
    margin: 2em 2em;
}

.logo{
    width: 300px;
}

#contenido{
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;

}

#contenedor_principal{
    /*margin: 125px 0;*/
    display: inline-block;
    width: 55%;
    height: 250px;
    background-color: white;
    border-radius: 25px;
    position:relative
}

#contenedor_mensaje{
    width: 100%;
    height: 100%;
    margin: 2em auto;
    position: absolute;
}

.mensaje{
    
    background-color: white;
    border-radius: 25px;
    width: 85.8%;
    position: absolute;
    padding: 6px 2%;
    border: orange 1px solid;
    margin: 0 5% 0 5%;
}

.texto_naranja{
    font-family: 'Source Code Pro', monospace;
    color: orange;
}

#input_mensaje{
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    top: 3px;
    left: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    width: calc(100% - 2em);
}

#botones{
    display: inline-block;
    width: 50%;
    margin: 200px auto 0 auto;
}

#contenedor_encriptado{
    background-color: white;
    width: 30%;
    height: 500px;
    display: inline-block;
    border-radius: 25px;
    margin-left: 14%;
}

footer{
    margin-top: 60px;
    height: 160px;
    background: url(imagenes/bg_footer.jpg);
}